
@font-face {
  font-family: 'Manrope-Bold';
  src: url('Manrope-Bold.eot?#iefix') format('embedded-opentype'),  url('Manrope-Bold.woff') format('woff'), url('Manrope-Bold.ttf')  format('truetype'), url('Manrope-Bold.svg#Manrope-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
