@media screen and (min-width: 900px) {
    main {
        width: 731px;
        height: 280px;
        margin: 32.5vh auto;
    }
    section.article-image {
        width: 39.124487%;
        height: 100%;
    }
    section.article-body {
        width: 60.875513%;
        height: 100%;
    }
}