/*                                      ____________________
/*======================================    Font includes
*/


/*                                    End of Font includes  
/*==========================================================*/

/*                                      ____________________
/*======================================    Container Layer
*/


/*                                    End of Container Layer  
/*==========================================================*/

/*                                      ____________________
/*======================================    Inner Layer
*/

.attribution {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

/*                                    End of Inner Layer  
/*==========================================================*/
