/*                                      ____________________
/*======================================    Font includes
*/

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/Manrope-Bold.woff') format('woff'),
        url('../fonts/Manrope-Bold.svg#Manrope-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/Manrope-Medium.woff') format('woff'),
            url('../fonts/Manrope-Medium.svg#Manrope-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*                                    End of Font includes  
/*==========================================================*/

/*                                      ____________________
/*======================================    Dev css
*/

* {
    outline: solid 1px black;
}

/*                                    End of Dev css  
/*==========================================================*/

/*                                      ____________________
/*======================================    Container Layer
*/

* {
    box-sizing: border-box;   
    padding: 0;
    margin: 0; 
}

html {
    font-family: 'Manrope', 'sans-serif';
    --width-delta: calc((100vw - 375px) / 1065);
}

main {
    position: relative;
    --article-body-width: max(327px, min(445px, calc(327px + 118 * var(--width-delta))));
    --article-body-height: max(280px, min(312px, calc(312px - 32 * var(--width-delta))));
}

section.article-image {
    position: absolute;
    z-index: -1;
    /* display: none; */
}

section.article-image > img {
    width: var(--article-body-width);
    height: var(--article-body-height);
    object-fit: cover;
}

.img-block {
    display: inline-block;
    width: max(286px, min(327px, calc(327px - 41 * var(--width-delta))));       /* 327-286px */
    height: max(200px, min(280px, calc(200px + 80 * var(--width-delta))));      /* 200-280px */
}

section.article-body {
    display: inline-block;
    width: var(--article-body-width);
    height: var(--article-body-height);
    background-color: white;
    vertical-align: top;
}

.author-data > img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


/*                                    End of Container Layer  
/*==========================================================*/


/*                                      ____________________
/*======================================    Inner Layer
*/

.body-footer {
    position: relative;
}

.author-data, .author-data > div {
    display: inline-block;
}

.author-data {
    /* display: none; */
}

.share-footer {
    display: inline-block;
    display: none;
    background-color: hsl(217, 19%, 35%);
    width: 100%;
}

.share-icon {
    position: absolute;
    right: 0;
    top: 0;
    --img-radius: 20px; 
    width: calc(2 * var(--img-radius));
    height: calc(2 * var(--img-radius));
    border: solid var(--img-radius) lightgray;
    border-radius: var(--img-radius);   
}

.share-img {
    position: relative;
    left: -7.5px;
    top: -7.5px;
}

.attribution {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

/*                                    End of Inner Layer  
/*==========================================================*/
